# This file is used to define environment variables for your Next.js application.

# This variable is used to set the application stage (e.g., development, beta, production).
VITE_APP_STAGE=development

# Brand Identity
VITE_BRAND_NAME=EduAsas
VITE_APP_VERSION=0.1.0-dev

## example http: ai https: kulingana na mazingira
VITE_NET_PROTOCOL=http:

# API Configuration
# Badilisha hii iende kwenye URL ya Backend yako (e.g., https://api.eduasas.co.tz, VITE_API_URL=http://localhost:5000)
VITE_API_URL=http://localhost:5000

# This variable is used to set the root domain for your application(eduasas.local/localhost:3000/beta.eduasas.co.tz/eduasas.co.tz).
VITE_ROOT_DOMAIN=localhost:3000


# Kwenye .env.production (kwa ajili ya server/Vercel)
#VITE_REDIRECT_URI=https://app.eduasas.co.tz/auth/oauth/google

VITE_GOOGLE_CLIENT_ID=